 h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
 }
 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 255, 255)
 }

 h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #Igor-profile {

    width: center;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;

 }

 #Objetivo-da-mentoria {

    font-family: 'Montserrat';
    border:2px solid #eaeaeaea;
    border-radius: 25px;
    padding: 20px;

 }
 
 #ImageHeader {
   /* Background pattern from Toptal Subtle Patterns */
   background-image: url("/img/bg_top.jpg");
   height: 200px;
   width: 100%;
}
